.flake8
venv/
venv
./venv
.vscode/
.git
.ipynb_checkpoints
enviroment.yml
.ruff_cache
.isort.cfg
**/*.csv
mlruns
dummy
**/venv
**/venv/
**/.venv/
**/env/
model/venv/
**/*.pkl
**/*.joblib
**/libnccl.so
**.toml
.gitattributes
__pychache__
**/__pychache__
**/__pycache__/

model/venv/lib/python3.9/site-packages/xgboost/lib/libxgboost.so
model/venv/lib/python3.9/site-packages/nvidia/nccl/lib/libnccl.so.2         


.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
./.git/objects/pack/pack-06c5766649a118ce5ca24e830d7687410b403f6e.pack
./model/venv/lib/python3.9/site-packages/nvidia/nccl/lib/libnccl.so.2
./model/venv/lib/python3.9/site-packages/xgboost/lib/libxgboost.so
./venv/lib/python3.9/site-packages/nvidia/nccl/lib/libnccl.so.2
./venv/lib/python3.9/site-packages/xgboost/lib/libxgboost.so
